header{
  background-color: #FF6666;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px 21px 12px 21px;
  align-items: center;
}
header>h1{
  font-size: 13pt;
  margin: 0px;
}